@{
    ViewData["Title"] = "About";
}
<style>
    .e-view {
        position: absolute;
        bottom: 0;
    }

    #target {
        height: 100%;
        min-height: 350px;
    }

    .e-dialog .e-dlg-header > img.img1 {
        height: 20px;
        width: 20px;
        float: left;
        margin-right: 14px;
        margin-top: 5px;
    }

    div#control-content {
        height: 400px;
    }

    .e-dlg-header-content {
        min - height: 65px;
    }

    .e-bigger .e-dialog .e-icon-dlg-close::before {
        top: 0px;
    }

    .bootstrap .e-dialog .e-dlg-header > img.img1 {
        margin - top: 1px;
    }

    .material .e-dialog {
        height: 270px;
    }

    .fabric .e-dialog, .bootstrap .e-dialog, .highcontrast .e-dialog {
        height: 315px;
    }
</style>
<div>
    <ejs-grid id="Grid" created="create" allowSelection="true" enableHover="false" cellSelected="selected">
        <e-grid-selectionsettings mode="Cell"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-grid-column field="ImageOne" headerText="" width="120" template="#col1"></e-grid-column>
            <e-grid-column field="ImageTwo" headerText="" width="120" template="#col2"></e-grid-column>
            <e-grid-column field="ImageThree" headerText="" width="120" template="#col3"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>

    <div id="dialog" style="height: auto"></div>
</div>

<script type="text/javascript" src="~/dataSource.js"></script>

<script>
    createDialog();

    function create(args) {
        this.dataSource = window.dataSource;
    }

    function selected(args) {
        var fileName = args.data[this.getColumnByIndex(args.cellIndex).field];

        var ajax = new ej.base.Ajax('Contact/?name=' + fileName, 'GET', true);
        ajax.send().then();
        // Rendering Dialog on AJAX success
        ajax.onSuccess = function (data) {
            document.getElementById("dialog").ej2_instances[0].content = data;
            document.getElementById("dialog").ej2_instances[0].show();
        };

    }

    function createDialog() {
        var dialogObj = new ej.popups.Dialog({
            showCloseIcon: true,
            width: '500px',
            target: document.getElementById('target'),
            animationSettings: { effect: 'Zoom' },
            open: dialogOpen,
            visible: false,
        });
        dialogObj.appendTo('#dialog');
    }
    function dialogOpen() {
        eval(this.element.querySelector("script").innerText);
    }
</script>

<script id="col1" type="text/x-template">
    ${if(ImageOne)}
    <div>
        <img src="@Url.Content("~/uploadedImages/${ImageOne}")" alt="image" />
    </div>
    ${/if}
</script>
<script id="col2" type="text/x-template">
    ${if(ImageTwo)}
    <div>
        <img src="@Url.Content("~/uploadedImages/${ImageTwo}")" alt="image" />
    </div>
    ${/if}
</script>
<script id="col3" type="text/x-template">
    ${if(ImageThree)}
    <div>
        <img src="@Url.Content("~/uploadedImages/${ImageThree}")" alt="image" />
    </div>
    ${/if}
</script>