<style>

    .e-view {
        position: absolute;
        bottom: 0;
    }

    .e-content .e-item {
        font-size: 12px;
        padding: 10px;
        text-align: justify;
    }

    #Tab .e-tab-icon {
        font-family: 'Socialicons' !important;
    }

    .e-toolbar-items {
        border-bottom: solid 1px #ccc;
    }

    .e-tab {
        border: solid 1px #d3d3d3;
        border-radius: 10px;
    }

    #Tab .e-icons.e-tab-icon {
        position: relative;
        top: 1px;
    }

    .outer {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    textarea {
        width: 380px;
        height: 300px;
    }
</style>
<div class="">
    <div class="middle">
        <div class="inner">
            <div class="control-section">
                <div class="content-wrapper">
                    <div class="content-section" height="500px" width="500px">
                        <div id="Tab"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="base64" style="display:none;">@Html.Raw(ViewData["Base64"])</div>
<div style="display:none;">
    <div id="url"><a href="http://localhost:36501/@Html.Raw(ViewData["Url"])" target="_blank">http://localhost:36501/@Html.Raw(ViewData["Url"])</a></div>
</div>


<script>
    var base64 = document.getElementById('base64').innerText;
    var imgCnt = document.createElement('div');
    imgCnt.innerHTML = '<img src="data:image/png;base64,' + base64 + '" />';
    var defaultRTE = new ej.richtexteditor.RichTextEditor({
        toolbarSettings: {
            items: ['SourceCode']
        },

    });
    defaultRTE.appendTo(imgCnt);

    var css = document.createElement('div');
    css.innerHTML = ' .classname{ background-image: url(" data:image/png;base64,' + base64 + '");}';
    var defaultRTE1 = new ej.richtexteditor.RichTextEditor({
        toolbarSettings: {
            items: ['Copy', 'SourceCode']
        },
        height: '300px'
    });
    defaultRTE1.appendTo(css);

    var plain = document.createElement('div');
    plain.innerHTML = base64;
    var defaultRTE2 = new ej.richtexteditor.RichTextEditor({
        toolbarSettings: {
            items: ['Copy', 'SourceCode']
        },
        height: '300px'
    });
    defaultRTE2.appendTo(plain);

    var tabObj = new ej.navigations.Tab({
        items: [
            {
                header: { 'text': 'HTML' },
                content: imgCnt
            },
            {
                header: { 'text': 'CSS' },
                content: css
            },
            {
                header: { 'text': 'BASE 64' },
                content: plain
            },
            {
                header: { 'text': 'URL' },
                content: document.getElementById('url')
            }
        ],

        created: function () {
            defaultRTE.refresh();
            defaultRTE1.refresh();
            defaultRTE2.refresh();
        },

        selected: function () {
            defaultRTE.refresh();
            defaultRTE1.refresh();
            defaultRTE2.refresh();
        }
    });
    //Render initialized Tab component
    tabObj.appendTo('#Tab');
</script>
